.Alert {
    text-align: left;
    position: fixed;
    z-index: 500;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 50%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    transform: translate(0, -100vh);
    opacity: 0;
}

.Alert-show {
    transform: translateY(-50%);
    opacity: 1;
}

@media (min-width: 600px) {
    .Alert {
        width: 500px;
        left: calc(50% - 250px);
    }
}
